.video {
    background-color: #ffffff05;
    margin: 10px;
    padding: 5px;
    width: 300px;
    cursor: pointer;
}

.active-video {
    background-color: var(--primary);
}

.filler {
    border: 2px solid var(--filler);
}

.videos-list {
    display: inline-block;
    vertical-align: top;
    /* border: 1px solid red; */
    height: 360px;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 20px;
}
