@use "../vars";

.manga-view-container {
    padding: 1rem;
}

.chapters-list {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.ch {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.03);
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.ch:hover {
    background-color: rgba(vars.$primary, 0.05);
}
