@use '../vars';

.video {
    background-color: rgba(#ffffff, 0.05);
    margin: 10px;
    padding: 5px;
    width: 300px;
    cursor: pointer;
}

.active-video {
    background-color: vars.$primary;
}

.filler {
    outline: 2px solid vars.$filler;
}

.videos-list-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    background-color: rgba(#000000, 0.6);
}

.videos-list {
    height: 360px;
    overflow: hidden;
    overflow-y: scroll;
}

.link {
    margin: 10px;

    &:hover {
        color: vars.$primary;
        cursor: pointer;
    }
}
