@use "../vars";

.reading-progressbar {
    display: flex;
    width: 100vw;
    height: 15px;
}

.reading-progressbar-block {
    width: 10%;
    height: 100%;
    background: rgba(#ffffff, 0.1);
    cursor: pointer;

    &:hover {
        background-color: rgba(#ffffff, 0.3);
    }
}

.reading-progressbar-block-active {
    background-color: rgba(vars.$primary, 1);
}

.reading-progressbar-done {
    background-color: rgba(vars.$primary, 0.5);
}
