.video {
    background-color: #ffffff05;
    margin: 10px;
    padding: 5px;
    width: 300px;
    cursor: pointer;
}

.active-video {
    background-color: var(--primary);
}

.filler {
    outline: 2px solid var(--filler);
}

.videos-list-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    background-color: var(--focused);

}

.videos-list {
    height: 360px;
    overflow: hidden;
    overflow-y: scroll;
}
